
 h1{
    color:darkgreen
}
/*
*{
    border:solid
}
*/
.header{
    background-color: rgb(248, 130, 34);
    display: flex;
    justify-content: space-between;
}

p,h2{
    text-align: center;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}
